<!DOCTYPE html>
<html lang="ru">
{% load l10n %}
{% load i18n %}
{% load notes %}
<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        body{background-color:#fffacd;}
        .hero-unit{background-color:#d8bfd8;}
        .margin-top {margin-top:20px;}
    </style>
</head>

<body>
    <form  action="{% url 'index' %}" method="post">{% csrf_token %}
        <div class="row">
            <div class="span7 offset5" >
                {{ form.non_field_errors }}

                    {{ form.content.label_tag }}
                    <div class="controls">
                        {{ form.content }}
                        <div class="control-group error help-inline">
                        {% for error in form.content.errors %}
                            <span class="help-inline">{{error}}</span>
                        {% endfor %}
                        </div>
                    </div>


                {{form.author.label_tag}}
                <div class="controls">
                    {{ form.author }}
                    <span class="help-inline">{{ form.author.errors }}</span>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="span1 offset6">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
    </form>
    <div class="row">
        {% for note in all_notes %}
            {% note note.id %}
        {% endfor %}
    </div>
</body>
</html>